.bingkai
{
	background-color: #fff;
	padding: 2px;
	margin: 3px 5px 3px 0;
	border: 1px solid #CCC;
	float: left;

}
input
{
	font-family:tahoma;
	color:black;
}

.detail
{
	border-bottom:1px solid #CFCFCF;
	height:25px;
}

.txt
{
	height:22;
	background-image:url(../images/txt.gif);
	background-repeat:repeat-x;
	border:1px solid #CCCCCC;
}
.txt:hover
{
	height:22;
	background-image:url(../images/txt_hover.gif);
	background-repeat:repeat-x;
	border:1px solid #CCCCCC;
}
.txt:focus
{
	height:22;
	background-image:url(../images/txt_hover.gif);
	background-repeat:repeat-x;
	border:1px solid #CCCCCC;
}


.txtarea
{
	background-image:url(../images/txt.gif);
	background-repeat:repeat-x;
	border:1px solid #CCCCCC;
}
.txtarea:hover
{
	background-image:url(../images/txt_hover.gif);
	background-repeat:repeat-x;
	border:1px solid #CCCCCC;
}
.txtarea:focus
{
	background-image:url(../images/txt_hover.gif);
	background-repeat:repeat-x;
	border:1px solid #CCCCCC;
}

select
{
	height:22;
	background-image:url(../images/txt.gif);
	border:1px solid #CCCCCC;
	z-index:1;
	position:relative;
}
table
{
	border-collapse:collapse;
	border-color:#A7A7A7;
}
.btn
{
	height:23;
	background-image:url(../images/btn.gif);
	border:1px solid #CCCCCC;
	padding-left:18px;
	padding-top:0px;
	color:white;
	font-weight:bold;
	text-align:left;
	vertical-align:top;
}
hr
{
	color:white;
	border-top:1px solid gray;
}
form
{
	margin:0px;
}

a
{
	text-decoration:none;
	color:black;
	
}

.inline
{
	display: inline;
}

input[type="submit"], .button
{
	font-size: 12px;

	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding:3px 10px; /*add some padding to the inside of the button*/
	background: #376AAF; /*the colour of the button*/
	border: 1px solid #FFFFFF; /*required or the default border for the browser will appear*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color:#f3f3f3;

}


input[type="submit"]:hover, input[type="submit"]:focus{
background-color :#399630; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}
.poll-bar {
	background: red;
	padding:0;
	background: -webkit-gradient(linear, 0 0, 44 44,
    			color-stop(0.00, rgba(255,255,255,0.17)),
    			color-stop(0.25, rgba(255,255,255,0.17)),
    			color-stop(0.26, rgba(255,255,255,0)),
    			color-stop(0.50, rgba(255,255,255,0)),
    			color-stop(0.51, rgba(255,255,255,0.17)),
    			color-stop(0.75, rgba(255,255,255,0.17)),
    			color-stop(0.76, rgba(255,255,255,0)),
    			color-stop(1.00, rgba(255,255,255,0))
  				), -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #dddddd));
  
	background: -moz-repeating-linear-gradient(top left -30deg, 
				rgba(255,255,255,0.17), 
				rgba(255,255,255,0.17) 15px, 
				rgba(255,255,255,0) 15px, 
				rgba(255,255,255,0) 30px
				), -moz-linear-gradient(#eeeeee 0%, #dddddd 100%);
			  
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  		  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
		  border-right: 1px solid #ddd;
}