<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <title>.:: Farmasi Subang</title>
 
</head>
<style>
.print { display: block; }
.printhidden { display: none; }
@media print
{
	.noprint { display: none;background:white;}
	.print { display: block;background:white;}
	.printhidden { display: block;background:white;}
}
</style>
<body>
		



	 <table width='100%'>
	 <tr>
		<td bgcolor='white' valign=top><!--Cetak--></td>
	 </tr>
	 </table>

</html>
