<html>
 <head>
	<title>ETL DWH V.3.0 .: Cipta Karya</title>
	<link rel="icon" type="image/png" href="<!--desaintema-->/images/favicon.png">

  <meta http-equiv="Expires" CONTENT="0">
  <meta http-equiv="Cache-Control" CONTENT="no-cache">
  <meta http-equiv="Pragma" CONTENT="no-cache">
 </head>
 <link rel='stylesheet' type='text/css' href='./templates/baru/css/mycss.css'>
 <!--Css-->
  <script src="./templates/baru/scripts/jquery-1.3.2.min.js" type="text/javascript"></script>
 <!-- dropdownmenuatas -->
	<link rel="stylesheet" type="text/css" href="./templates/baru/js/dropdown/ddsmoothmenu.css" />
	<link rel="stylesheet" type="text/css" href="./templates/baru/js/dropdown/ddsmoothmenu-v.css" />

	<script type="text/javascript" src="./templates/baru/js/dropdown/ddsmoothmenu.js">

	/***********************************************
	* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
	* This notice MUST stay intact for legal use
	* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
	***********************************************/
	</script>

	<script type="text/javascript">
	ddsmoothmenu.init({
		mainmenuid: "smoothmenu1", //menu DIV id
		orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
		classname: 'ddsmoothmenu', //class added to menu's outer DIV
		//customtheme: ["#1c5a80", "#18374a"],
		contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
	})
	</script>
	
 <!--JavaScript-->
<!--JavaScript2-->


<style>
.print { display: block; }
.printhidden { display: none; }
@media print
{
	.noprint { display: none;background:white;}
	.print { display: block;background:white;}
	.printhidden { display: block;background:white;}
}
</style>
</head>
 <body>
	<div class='ddsmoothmenu' style='position:absolute;z-index:88;height:30px;top:70px;right:50px;list-style-type: none;'>
	<ul>
		<li><a href='index.php?Pg=Login&Pr=gpwd'>Ganti Password</a></li>
		<li><a href='index.php?Pg=LogOut'>Logout</a></li>
	</ul>
	</div>		

	<div style='position:fixed;bottom:0;display:none;width:100%;height:100%;z-index:1001;' id='loading'>
		<table width='100%' height='100%' cellpadding='0' cellspacing='0'>
			<tr><td>
				<CENTER><div style='width:150;'>
				<TABLE cellspacing='0' cellpadding='0'><TR><TD><img src='./images/wait.gif' height=100></TD></tr><tr><TD align='center' style='color:#ff0000;'><b>Memuat Halaman...</b></TD></TR></TABLE>
				</div></CENTER>
			</td></tr>
		</table>
	</div>
	
	<div style='position:fixed;bottom:0;display:none;width:100%;height:100%;z-index:100;' id='popup'>
	<table width='100%' height='100%' border='0' class='noprint'>
		<tr><td>
			<CENTER>
				<div id="facebox"> 
				<div class="faceboxpopup"> 
				  <TABLE cellpadding='0' cellspacing='0'>
				  <TR class='noprint'>
					<TD width='1'><img src='./images/popup/facebox_atas_kiri.gif'></TD>
					<TD background='./images/popup/facebox_atas_tengah.gif' height='1'></TD>
					<TD width='1'><img src='./images/popup/facebox_atas_kanan.gif'></TD>
				  </TR>
				  <TR>
					<TD background='./images/popup/facebox_kiri.gif'class='noprint'><img src='./images/popup/facebox_kiri.gif'></TD>
					<TD bgcolor='white'>
						<div class="faceboxcontent" id="faceboxisi" style="max-height:550px;overflow-y:auto;overflow-x:visible"> 									
						</div> 						
					</TD>
					<TD background='./images/popup/facebox_kanan.gif'class='noprint'><img src='./images/popup/facebox_kanan.gif'></TD>
				  </TR>
				  <TR class='noprint'>
					<TD height='1'><img src='./images/popup/facebox_tengah_kiri.gif'></TD>
					<TD bgcolor='white'></TD>
					<TD height='1'><img src='./images/popup/facebox_tengah_kanan.gif'></TD>
				  </TR>
				  <TR class='noprint'>
					<TD height='1'><img src='./images/popup/facebox_bawah_kiri.gif'></TD>
					<TD background='./images/popup/facebox_bawah_tengah.gif' align='right'>
						<a href="#" onclick="hidePopUp()"> <img src='./images/popup/facebox_tutup.gif' border='0'></A>
					</TD>
					<TD height='1'><img src='./images/popup/facebox_bawah_kanan.gif'></TD>
				  </TR>
				  </TABLE>
				</div> 
				</div>
			</CENTER>
		</td></tr>
	</table>
</div>
<div style='position:fixed;bottom:0;display:none;width:100%;height:100%;z-index:1002;' id='confirmasi'>
	<table width='100%' height='100%'>
		<tr><td>
			<CENTER>
				<TABLE cellpadding='0' cellspacing='0' width='311'>
				<TR>
					<TD colspan='3'>
						<TABLE cellpadding='0' cellspacing='0' width='311'>
						<TR>
							<TD><img src='./images/info-alert/info_header1.gif'></TD>
							<TD><A HREF="javascript:hideKonfirmasi()"><img src='./images/info-alert/info_header2.gif' border='0'></A></TD>
						</TR>
						</TABLE>
					</TD>
				<TR>
					<TD width='1' style='background-image:url(./images/info-alert/info_bg_kiri.gif);' valign='top'><img src='./images/info-alert/info_kiri.gif'></TD>
					<TD style='background:#DAE6F7;background-image:url(./images/info-alert/info_bg_tengah.gif);background-repeat:repeat-x' width='297'>
						<BR><div id='messagebox'></div><BR><BR>
						<CENTER><A HREF="javascript:hideKonfirmasi()"><img src='./images/info-alert/info_ok.gif' border='0'></A></CENTER>
					</TD>
					<TD width='1' style='background-image:url(./images/info-alert/info_bg_kanan.gif);' valign='top'><img src='./images/info-alert/info_kanan.gif'></TD>
				</TR>
				<TR>
					<TD colspan='3'>
						<TABLE cellpadding='0' cellspacing='0' width='311'>
						<TR>
							<TD><img src='./images/info-alert/info_bawah1.gif'></TD>
							<TD width='99%' background='./images/info-alert/info_bawah2.gif'></TD>
							<TD><img src='./images/info-alert/info_bawah3.gif'></TD>
						</TR>
						</TABLE>
					</TD>
				</TR>
				</TABLE>
			</CENTER>
		</td></tr>
	</table>
</div>
<div id='main_container'>

	<table cellpadding=0 cellspacing=0 width='100%' align=center >
	  <tr height="9" class='noprint'>
		<td width="10"><img src="./templates/baru/images/topleft.jpg"></td>
		<td width='300' bgcolor='#006DC3'></td>
		<td width='800' bgcolor='#82BC41'></td>
		<td width="10"><img src="./templates/baru/images/topright.jpg"></td>
	  </tr>
	  <tr height='100%' bgcolor='white'>
		<td background="./templates/baru/images/left.jpg" class='noprint'></td>
		<td colspan=2 width='100%' valign=top>
			<table width='100%' height='100%' cellpadding=0 cellspacing=0 border=0 >
			<tr class='noprint'>
				<td><!--MenuAtas--></td>
			</tr>
			<tr>
				<td valign=top><div id='isi' class='noprint'><!--Isi--></div></td>
			</tr>
			
			</table>
		</td>
		<td background="./templates/baru/images/right.jpg" class='noprint'></td>
	  </tr>
	  <tr height="8" class='noprint'>
		<td><img src="./templates/baru/images/bottomleft.jpg"></td>
		<td bgcolor='#006DC3'></td>
		<td bgcolor='#82BC41'></td>
		<td><img src="./templates/baru/images/bottomright.jpg"></td>
	  </tr>
	  </table>  
	  <br  class='noprint'>
</div>

 </body>
 <div class='printhidden' style='position:absolute;bottom:0;top:0;width:100%;height:100%;z-index:1002;'>
	<div class="faceboxcontent" id="faceboxisi2"></div>	 
	 <table width='100%'>
	 <tr>
		<td bgcolor='white' valign=top><!--Cetak--></td>
	 </tr>
	 </table>
</div>
</html>




   
